# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
bench/datastructures/hashmap/hashmap
bench/datastructures/btree/btree
bench/datastructures/rbtree/rbtree
bench/tpcc/code/tpcc

bench/datastructures/Defines.common.mk
bench/datastructures/Makefile.flags
bench/datastructures/Makefile
bench/datastructures/lib/tm.h
bench/datastructures/lib/thread.h
bench/datastructures/lib/thread.c

bench/tpcc/Defines.common.mk
bench/tpcc/Makefile
bench/tpcc/Makefile.flags
bench/tpcc/include/thread.h
bench/tpcc/src/thread.c
bench/tpcc/include/tm.h

bench/stamp/Defines.common.mk
bench/stamp/Makefile.flags
bench/stamp/Makefile
bench/stamp/lib/tm.h
bench/stamp/lib/thread.h
bench/stamp/lib/thread.c
bench/stamp/bayes/bayes
bench/stamp/genome/genome
bench/stamp/intruder/intruder
bench/stamp/kmeans/kmeans
bench/stamp/labyrinth/labyrinth
bench/stamp/ssca2/ssca2
bench/stamp/vacation/vacation
bench/stamp/yada/yada
